Repository XeicuLy/NextJS-TypeScript-TailwindCSS-Template: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, npx jest

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": "npx eslint --fix",
  "**/*.{js,jsx,ts,tsx,json}": "npx prettier --write",
  "**/*.{spec,test}.{js,jsx,ts,tsx}": "npx jest"
}

Create dependabot.yml
  .github/dependabot.yml
Due: none

:bug: 複数の問題解決
  .eslintrc.json
  .scaffdog/atoms.md
  .scaffdog/molecules.md
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  src/components/atoms/Example/__snapshots__/index.test.tsx.snap
  src/components/atoms/Example/index.test.tsx
  src/components/molecules/Example/__snapshots__/index.test.tsx.snap
  src/components/molecules/Example/index.test.tsx
  src/libs/.gitkeep
  src/stories/Button.stories.tsx
  src/stories/Button.tsx
  src/stories/Header.stories.tsx
  src/stories/Header.tsx
  src/stories/Page.stories.tsx
  src/stories/Page.tsx
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
  src/styles/globals.css
  yarn.lock
Due: npx eslint --fix, npx prettier --write, npx jest

:recycle: scaffdogのテンプレ更新
  .scaffdog/atoms.md
  .scaffdog/molecules.md
Due: none

:recycle: storybook更新
  .storybook/main.ts
Due: npx eslint --fix, npx prettier --write

:wrench: ESLint更新
  .eslintrc.json
Due: npx prettier --write

:arrow_up: lockファイル更新
  yarn.lock
Due: none

:wrench: voltaでnpm固定
  package.json
Due: npx prettier --write

:memo: README更新
  README.md
Due: none

:wrench: chore: Mantine関連インストール
  package.json
  yarn.lock
Due: npx prettier --write

:art: style: Mantineとの共存のための更新
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/styles/baseMantine.css
  tailwind.config.js
Due: npx eslint --fix, npx prettier --write

:wrench: lockファイル更新
  yarn.lock
Due: none

⏪ Mantine削除
  package.json
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/styles/baseMantine.css
  tailwind.config.js
  yarn.lock
Due: npx eslint --fix, npx prettier --write

🔥 lockファイルをgitに載せないことにしました。
  .gitignore
  yarn.lock
Due: none

📝 READMEアップデート
  README.md
  src/api/.gitkeep
Due: none

📌 lockファイル
  .gitignore
  yarn.lock
Due: none

💄 daisyUI導入
  package.json
  src/components/atoms/Example/__snapshots__/index.test.tsx.snap
  src/components/atoms/Example/index.tsx
  tailwind.config.js
  yarn.lock
Due: npx eslint --fix, npx prettier --write

➕ hygen導入
  package.json
  yarn.lock
Due: npx prettier --write

📝 README更新
  README.md
Due: none

✨ Recoil適用
  src/pages/_app.tsx
Due: npx eslint --fix, npx prettier --write

🗑️ scaffdog削除
  .scaffdog/atoms.md
  .scaffdog/config.js
  .scaffdog/molecules.md
Due: npx eslint --fix, npx prettier --write

✨ hygenテンプレート
  _templates/generator/components/component.ejs.t
  _templates/generator/components/component.stories.ejs.t
  _templates/generator/components/component.test.ejs.t
  _templates/generator/components/prompt.js
Due: npx eslint --fix, npx prettier --write

🌱 organismsとtemplates追加
  src/components/organisms/Example/__snapshots__/index.test.tsx.snap
  src/components/organisms/Example/index.stories.tsx
  src/components/organisms/Example/index.test.tsx
  src/components/organisms/Example/index.tsx
  src/components/templates/Example/__snapshots__/index.test.tsx.snap
  src/components/templates/Example/index.stories.tsx
  src/components/templates/Example/index.test.tsx
  src/components/templates/Example/index.tsx
Due: npx eslint --fix, npx prettier --write, npx jest

♻️ 例変更
  src/components/atoms/Example/__snapshots__/index.test.tsx.snap
  src/components/atoms/Example/index.tsx
  src/components/molecules/Example/index.tsx
Due: npx eslint --fix, npx prettier --write

🎨 ダークモードに切り替えられるように
  tailwind.config.js
Due: npx eslint --fix, npx prettier --write

➕ テーマ切り替えボタン作成に必要なツールインストール
  package.json
  yarn.lock
Due: npx prettier --write

✨ カラーテーマtoggleボタン追加
  src/components/atoms/ChangeThemeButton/__snapshots__/index.test.tsx.snap
  src/components/atoms/ChangeThemeButton/index.stories.tsx
  src/components/atoms/ChangeThemeButton/index.test.tsx
  src/components/atoms/ChangeThemeButton/index.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
Due: npx eslint --fix, npx prettier --write, npx jest

📝 update README
  README.md
Due: none

🩹 lintエラー解消
  jest.config.js
Due: npx eslint --fix, npx prettier --write

➖ scaffdog
  package.json
  yarn.lock
Due: npx prettier --write

Revert "➖ scaffdog"
  package.json
  yarn.lock
Due: npx prettier --write

Revert "Revert "➖ scaffdog""
  package.json
  yarn.lock
Due: npx prettier --write

⬆️
  package.json
  yarn.lock
Due: npx prettier --write

🔧 addon変更
  .storybook/main.ts
Due: npx eslint --fix, npx prettier --write

📝
  README.md
Due: none

🔨 : turbopack設定
  package.json
Due: npx prettier --write

📌 : nodeとyarnをvoltaで固定
  package.json
Due: npx prettier --write
