Repository XeicuLy/NextJS-TypeScript-TailwindCSS-Template: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, npx jest

🔧 : eslintとprettierの設定
  .eslintrc.json
  .prettierrc.json
  .vscode/extensions.json
  .vscode/settings.json
  app/globals.css
  app/layout.tsx
  app/page.tsx
  next.config.js
  package.json
  postcss.config.js
  tailwind.config.ts
  yarn.lock
Due: npx eslint --fix, npx prettier --write

👷 : husky追加
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  yarn.lock
Due: npx prettier --write

✅ : jest追加
  .eslintrc.json
  jest.config.ts
  jest.setup.ts
  package.json
  tsconfig.json
  yarn.lock
Due: npx eslint --fix, npx prettier --write

💄 : tailwindcss追加設定
  .eslintrc.json
  .vscode/settings.json
  app/globals.css
  next.config.js
  package.json
  postcss.config.js
  tsconfig.json
  yarn.lock
Due: npx eslint --fix, npx prettier --write

✅ : テスト更新
  package.json
  yarn.lock
Due: npx prettier --write

👷 : hygen導入
  _templates/generator/components/component.ejs.t
  _templates/generator/components/component.test.ejs.t
  _templates/generator/components/prompt.ts
  components/feature/Sample/Sample.test.tsx
  components/feature/Sample/Sample.tsx
  components/feature/Sample/__snapshots__/Sample.test.tsx.snap
  components/ui/Sample/Sample.test.tsx
  components/ui/Sample/Sample.tsx
  components/ui/Sample/__snapshots__/Sample.test.tsx.snap
  package.json
  yarn.lock
Due: npx eslint --fix, npx prettier --write, npx jest

🎨 : ディレクトリ追加
  libs/.gitkeep
  styles/globals.css
  types/.gitkeep
Due: none

👽️ : axios導入
  package.json
  yarn.lock
Due: npx prettier --write

📝 : README更新
  README.md
Due: none

🌐 : lang=jaに変更
  app/layout.tsx
Due: npx eslint --fix, npx prettier --write

🚨 : cssファイル移動に伴うエラー修正
  app/layout.tsx
Due: npx eslint --fix, npx prettier --write

✅ : commit時にテスト実行
  .lintstagedrc.json
Due: npx prettier --write

💚 : Container/Presenterデザインパターン採用
  _templates/generator/components/component.ejs.t
  _templates/generator/components/component.test.ejs.t
  _templates/generator/components/container.ejs.t
  _templates/generator/components/container.test.ejs.t
  _templates/generator/components/layout.ejs.t
  _templates/generator/components/page.ejs.t
  _templates/generator/components/presenter.ejs.t
  _templates/generator/components/presenter.test.ejs.t
  _templates/generator/components/prompt.ts
  app/sample/SampleContainer.test.tsx
  app/sample/SampleContainer.tsx
  app/sample/SamplePresenter.test.tsx
  app/sample/SamplePresenter.tsx
  app/sample/layout.tsx
  app/sample/page.tsx
  components/.gitkeep
  components/feature/Sample/Sample.test.tsx
  components/feature/Sample/__snapshots__/Sample.test.tsx.snap
  components/ui/Sample/Sample.test.tsx
  components/ui/Sample/__snapshots__/Sample.test.tsx.snap
Due: npx eslint --fix, npx prettier --write, npx jest

📸 : snapshot追加
  app/sample/__snapshots__/SampleContainer.test.tsx.snap
  app/sample/__snapshots__/SamplePresenter.test.tsx.snap
Due: none

Path conditions:
  npx eslint --fix: any of: **/*.{js,jsx,ts,tsx}
  npx prettier --write: any of: **/*.{js,jsx,ts,tsx,json}
  npx jest: any of: **/*.{spec,test}.{js,jsx,ts,tsx}
